{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/media/{{ object.image }}" alt="#IMAGE#" class="img-fluid">
        </div>
        <div class="col">
            <h3>{{ object.title }}</h3>
            <p>{{ object.content }}</p>
        </div>
    </div>
    <hr>
    <div class="col-4">
        {% if perms.blog.add_article %}
        <p class="btn-group">
            <a class="btn btn-outline-primary" href="{% url 'blog:article_update' object.pk %}"
               role="button">
                Редактировать
            </a>
            <a class="btn btn-outline-danger" href="{% url 'blog:article_delete' object.pk %}"
               role="button">
                Удалить
            </a>
        </p>
        {% endif %}
        <p>
            Дата публикации {{ object.published_at }}
        </p>
        <p>
            Просмотры {{ object.views_count }}
        </p>
    </div>
</div>

{% endblock %}