{% extends 'mailing/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="/media/{{ user.avatar }}" alt="#" height="200" width="200">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer d-flex">
                    <div>
                        <button type="submit" class="btn btn-success">
                            {% if user.is_authenticated %}
                                Сохранить
                            {% else %}
                                Зарегистрироваться
                            {% endif %}
                        </button>

                        {% if user.is_authenticated %}
                        <a href="{% url 'users:user_delete' object.pk %}" class="btn btn-danger mx-3">
                                Удалить аккаунт
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}