<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse d-lg-flex">
            <a class="navbar-brand col-lg-3 me-0" href="#">SkyChimp</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <ul class="navbar-nav col-lg-6 justify-content-lg-end">

                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link link-success" href="{% url 'users:register' %}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-primary" href="{% url 'users:login' %}">Вход</a>
                        </li>
                    {% else %}
                        {% if user.is_superuser %}
                            <li class="nav-item m-2">
                                <span class="navbar-text text-success">Администратор</span>
                            </li>
                        {% elif user.is_staff %}
                            <li class="nav-item m-2">
                                <span class="navbar-text text-success">Менеджер</span>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link link-primary dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" href="#">{{ user }}</a>
                            <ul class="dropdown-menu dropdown-menu-dark m-2">
                                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{% url 'mailing:mailing_list' user.id %}">Мои рассылки</a></li>
                                <li><a class="dropdown-item" href="{% url 'mailing:client_list' %}">Мои клиенты</a></li>
                                {% if user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'mailing:mailing_list' 0 %}">Все рассылки</a></li>
                                    <li><a class="dropdown-item" href="#">Пользователи</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-danger" href="{% url 'users:logout' %}">Выход</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>